<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Help Page</title>
</head>
<body>
  {{> header}}
  <p>{{screamIt welcomeMessage}} using helper functions</p>

<!--
  <footer>
    <p>Copyright using helperfunction {{getCurrentYear}}</p>
  </footer>
-->
  {{> footer}}    <!-- partial footer.hbs from views/partials folder is used here-->
</body>
</html>
